<nav class="navbar navbar-expand-md navbar-dark bg-green">
  <a href="#" class="navbar-brand">Evolent-Project</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a href="#" class="nav-item nav-link">Home</a>
          <a href="#" class="nav-item nav-link">About Us</a>
          <a href="#" class="nav-item nav-link">Help</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link" [routerLink]='["/register"]'>Register</a>
        <a href="#" class="nav-item nav-link" [routerLink]='["/login"]'>Login</a>
      </div>
  </div>
</nav>
<br>
<br>
<router-outlet></router-outlet>