<nav class="navbar navbar-expand-md navbar-dark bg-green">
  <a href="#" class="navbar-brand" [routerLink]='["/login"]'>Evolent-Project</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a href="#" *ngIf="!loggedUser.emailid " class="nav-item nav-link" [routerLink]='["/register"]'>Register</a>
        <a href="#" *ngIf="!loggedUser.emailid " class="nav-item nav-link" [routerLink]='["/login"]'>Login</a>
        <a href="#" *ngIf="loggedUser.emailid " class="nav-item nav-link">Welcome {{loggedUser.emailid}}</a>
        <a href="#" *ngIf="loggedUser.emailid " class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>