<br>
<br>
<div class="container-fluid">
    <div class="row">
    <div class="col-md-3"> 
        <div class="form-group">
<button type="button" class="btn btn-success" (click)="getAllContacts()">List contacts</button>
</div>
<div class="form-group">
    <button type="button" class="btn btn-success" (click)="addContact()">Add a contact</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success" (click)="editContact()">Edit contact </button>
        </div>
    <div class="form-group">
        <button type="button" class="btn btn-success" (click)="inactiveContact()">Delete a contact </button>
        </div>
</div>

<div  class="col-md-6">
  
<span *ngIf="listContact">
    <table  class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <th scope="row"></th>
            <td class="user-list font-weight-bold">{{contact.firstname}}</td>
            <td class="user-list font-weight-bold">{{contact.lastname}}</td>
            <td class="user-list font-weight-bold"> {{contact.emailid}}</td>
            <td class="user-list font-weight-bold">{{contact.phone}}</td>
            <td class="user-list font-weight-bold">{{contact.status}}</td>
          </tr>
        </tbody>
      </table>
</span>

<span *ngIf = "addcontact">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
      
    <div class="form-group">
      <label   class=" font-weight-bold">First Name</label>
      <input type="text"
      appCharactersOnly
             class="form-control"
             formControlName="firstname"
             name = "firstname"
             required>
             <p *ngIf="registerForm.controls.firstname.errors?.nameError && registerForm.get('firstname').invalid && 
             registerForm.get('firstname').dirty 
             " class="text-danger font-weight-bold">{{registerForm.controls.firstname.errors.nameError.message}}</p>
    </div>
  
    <div class="form-group">
      <label  class=" font-weight-bold">Last Name</label>
      <input type="text"
      appCharactersOnly
             class="form-control"
             formControlName="lastname"
             required>
             <p *ngIf="registerForm.controls.lastname.errors?.nameError && registerForm.get('lastname').invalid && 
             registerForm.get('lastname').dirty 
             " class="text-danger font-weight-bold">{{registerForm.controls.lastname.errors.nameError.message}}</p>
    </div>
     
    <div class="form-group">
      <label  class=" font-weight-bold">Email</label>
      <input type="email"
             class="form-control"
             formControlName="emailid"
             required>
             <p *ngIf="registerForm.controls.emailid.errors?.emailError && registerForm.get('emailid').invalid && 
             registerForm.get('emailid').dirty 
             " class="text-danger font-weight-bold">{{registerForm.controls.emailid.errors.emailError.message}}</p>
    </div>
    <div class="form-group">
      <label  class=" font-weight-bold">Password</label>
      <input type="password"
             class="form-control"
             formControlName="password"
             required>
             <p *ngIf="registerForm.controls.password.errors?.passwordError && registerForm.get('password').invalid && 
             registerForm.get('password').dirty 
             " class="text-danger font-weight-bold">{{registerForm.controls.password.errors.passwordError.message}}</p>       
    </div>
    <div class="form-group">
      <label  class=" font-weight-bold">Phone Number</label>
      <input type="text"
            appNumbersOnly
             class="form-control"
             formControlName="phone"
             maxlength="10"
             required>
             <p *ngIf="registerForm.controls.phone.errors?.phoneError && registerForm.get('phone').invalid && 
             registerForm.get('phone').dirty 
             " class="text-danger font-weight-bold">{{registerForm.controls.phone.errors.phoneError.message}}</p>       
    </div>

    <div class="form-group">
    <label  class="font-weight-bold">Status</label>
    <select class="form-control" formControlName="status">
      <option  class="font-weight-bold" value="active">Active</option>
      <option  class="font-weight-bold" value="inactive">Inactive</option>
    </select>
    </div>
    <button type="submit" name="loginSubmit" [disabled]="registerForm.invalid" click="register()">Add User</button>
    <br>
  </form>
  <div class="form-group">
    <div *ngIf="errorMessage!=null" class="text-danger font-weight-bold">{{errorMessage}}</div>
    <div *ngIf="successMessage!=null" class="text-danger font-weight-bold">{{successMessage}}</div>
  </div>
</span>


<span *ngIf="editcontact">
    <form  [formGroup]="editContactForm" (ngSubmit)="edit()" class="form">   
    <div class="form-group">
        <label class=" font-weight-bold">Select user</label>
        <select  class="form-control" formControlName="emailid" (change)="showEditForm()">
          <option value=""  selected disabled> -- select an option -- </option>
          <option *ngFor="let contact of contacts" >{{contact.emailid}}</option>
        </select>
        </div>

        <span *ngIf= "editForm">
          <div class="form-group">
            <label  class=" font-weight-bold">First Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="firstname"
                   appCharactersOnly
                   value ="{{selectedUser.firstname}}"
                   required>
                   <p *ngIf="editContactForm.controls.firstname.errors?.nameError && editContactForm.get('firstname').invalid && 
                   editContactForm.get('firstname').dirty 
                   " class="text-danger font-weight-bold">{{editContactForm.controls.firstname.errors.nameError.message}}</p>
          </div>
        
          <div class="form-group">
            <label class=" font-weight-bold">Last Name</label>
            <input type="text"
            appCharactersOnly
                   class="form-control"
                   formControlName="lastname"
                   value ="{{selectedUser.lastname}}"
                   required>
                   <p *ngIf="editContactForm.controls.lastname.errors?.nameError && editContactForm.get('lastname').invalid && 
                   editContactForm.get('lastname').dirty 
                   " class="text-danger font-weight-bold">{{editContactForm.controls.lastname.errors.nameError.message}}</p>
          </div>
          <div class="form-group">
            <label class=" font-weight-bold">Password</label>
            <input type="password"
                   class="form-control"
                   formControlName="password"
                   value ="{{selectedUser.password}}"
                   required>
                   <p *ngIf="editContactForm.controls.password.errors?.passwordError && editContactForm.get('password').invalid && 
                   editContactForm.get('password').dirty 
                   " class="text-danger font-weight-bold">{{editContactForm.controls.password.errors.passwordError.message}}</p>       
          </div>
          <div class="form-group">
            <label class=" font-weight-bold">Phone Number</label>
            <input type="text"
                   class="form-control"
                   formControlName="phone"
                   maxlength="10"
                   value ="{{selectedUser.phone}}"
                   required>
                   <p *ngIf="editContactForm.controls.phone.errors?.phoneError && editContactForm.get('phone').invalid && 
                   editContactForm.get('phone').dirty 
                   " class="text-danger font-weight-bold">{{editContactForm.controls.phone.errors.phoneError.message}}</p>       
          </div>
    
          <div class="form-group">
          <label class=" font-weight-bold">Status</label>
          <select class="form-control" formControlName="status"  value ="{{selectedUser.status}}">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
          </div>
          <button type="submit" name="loginSubmit" class="btn btn-primary" click="edit()">Edit User</button>
          <br>
          <div class="form-group">
            <div *ngIf="errorMessage!=null" class="text-danger font-weight-bold">{{errorMessage}}</div>
            <div *ngIf="successMessage!=null" class="text-danger font-weight-bold">{{successMessage}}</div>
          </div>
        </span>
     </form>
</span>


<span *ngIf="inactivecontact">

    <form  [formGroup]="inactiveForm" class="form">   
        <div class="form-group">
            <label class="font-weight-bold">Select user</label>
            <select  class="form-control" formControlName="emailid" (click)="showStatus()" (change)="showStatus()">
              <option value=""  selected disabled> -- select an option -- </option>
              <option *ngFor="let contact of contacts" >{{contact.emailid}}</option>
            </select>
            </div>
            <button  name="delete" class="btn btn-primary" (click)="deleteUser()">Delete User</button>
            <br>
            <div class="form-group">
              <div *ngIf="errorMessage!=null" class="text-danger font-weight-bold">{{errorMessage}}</div>
              <div *ngIf="successMessage!=null" class="text-danger font-weight-bold">{{successMessage}}</div>
            </div>
            <br>
</form>    
</span>
</div>
</div>
</div>