<div class="container">
    <div class="col-md-6 col-md-offset-6">   
      <h5 class="signup font-weight-bold">Sign Up</h5>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
      
      <div class="form-group">
        <label   class=" font-weight-bold">First Name</label>
        <input type="text"
        appCharactersOnly
               class="form-control"
               formControlName="firstname"
               name = "firstname"
               required>
               <p *ngIf="registerForm.controls.firstname.errors?.nameError && registerForm.get('firstname').invalid && 
               registerForm.get('firstname').dirty 
               " class="text-danger font-weight-bold">{{registerForm.controls.firstname.errors.nameError.message}}</p>
      </div>
    
      <div class="form-group">
        <label  class=" font-weight-bold">Last Name</label>
        <input type="text"
        appCharactersOnly
               class="form-control"
               formControlName="lastname"
               required>
               <p *ngIf="registerForm.controls.lastname.errors?.nameError && registerForm.get('lastname').invalid && 
               registerForm.get('lastname').dirty 
               " class="text-danger font-weight-bold">{{registerForm.controls.lastname.errors.nameError.message}}</p>
      </div>
       
      <div class="form-group">
        <label  class=" font-weight-bold">Email</label>
        <input type="email"
               class="form-control"
               formControlName="emailid"
               required>
               <p *ngIf="registerForm.controls.emailid.errors?.emailError && registerForm.get('emailid').invalid && 
               registerForm.get('emailid').dirty 
               " class="text-danger font-weight-bold">{{registerForm.controls.emailid.errors.emailError.message}}</p>
      </div>
      <div class="form-group">
        <label  class=" font-weight-bold">Password</label>
        <input type="password"
               class="form-control"
               formControlName="password"
               required>
               <p *ngIf="registerForm.controls.password.errors?.passwordError && registerForm.get('password').invalid && 
               registerForm.get('password').dirty 
               " class="text-danger font-weight-bold">{{registerForm.controls.password.errors.passwordError.message}}</p>       
      </div>
      <div class="form-group">
        <label  class=" font-weight-bold">Phone Number</label>
        <input type="text"
              appNumbersOnly
               class="form-control"
               formControlName="phone"
               maxlength="10"
               required>
               <p *ngIf="registerForm.controls.phone.errors?.phoneError && registerForm.get('phone').invalid && 
               registerForm.get('phone').dirty 
               " class="text-danger font-weight-bold">{{registerForm.controls.phone.errors.phoneError.message}}</p>       
      </div>

      <div class="form-group">
      <label  class="font-weight-bold">Status</label>
      <select class="form-control" formControlName="status">
        <option  class="font-weight-bold" value="active">Active</option>
        <option  class="font-weight-bold" value="inactive">Inactive</option>
      </select>
      </div>
      <button type="submit" name="loginSubmit" [disabled]="registerForm.invalid" click="register()">Register</button>
      <br>
    </form>
      <div class="form-group">
      <div *ngIf="errorMessage!=null" class="text-danger font-weight-bold">{{errorMessage}}</div>
      <div *ngIf="successMessage!=null" class="text-danger font-weight-bold">{{successMessage}}</div>
    </div>
    </div>
    </div>

  